# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.03-mathematical-surfaces.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Vincent\dev\Unity\CatlikeCoding\Basics\03-mathematical-surfaces\.idea\.idea.03-mathematical-surfaces\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
